.loader-container {
  position: fixed;
  inset: 0;
  background: radial-gradient(circle at center, rgb(46, 46, 46) 0%, #00000000 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 9999;
}
.loader-container img {
  height: 140px;
}